* {
    font-family: 'Lufga', sans-serif;
    font-weight: var(--fw-title);
    cursor: default;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    overflow-x: hidden;
    margin: 0;
}

section, header {
    margin: 64px 120px 80px 120px;
}

/* Header */

.koursian {
    position: fixed;
    z-index: 999;
    left: 120px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);
    font-size: var(--fs-heading);

}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translate(-50%,0);
    height: fit-content;
    display: flex;
    gap: var(--gap-sm);
}

/* Header */


/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);
    margin-top: var(--gap-xl);
}

.title-description-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);
}

/* Hero Section */


/* Mentors List */

.mentors-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mentors-label {
    margin-bottom: var(--gap-md) ;
    font-size: var(--fs-small);
    font-weight: var(--fw-small);

}

.mentors {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-lg);
}

/* Mentors List */


/* Stats Section */

.stats {
    width: 100%;
    padding: 64px;
    margin: 120px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.stat {
    width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);

    border-right: 1px solid var(--color-white);
}

.stat:last-child {
    border: none;
}

/* Stats Section */


/* Button Style */

.btn {
    width: 147px;
    max-height: 28px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-sm);

    border: 1px solid #e6e6e6;
    border-radius: var(--radius-pill);
    color: var(--color-text-muted);

    transition: var(--transition);
}

.nav-btn {
    background-color: var(--color-white);
}

.nav-btn:hover {
    color: var(--color-primary);
    opacity: 1;
    border: 1px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
}

.nav-btn:hover > .nav-icon path {
    fill: var(--color-primary);
}

.header-cta {
    position: fixed;
    z-index: 999;
    right: 120px;
    display: flex;
    gap: var(--gap-sm);
}


.main-btn:hover {
    background-color: var(--color-primary);
    /* color: var(--color-white); */
    color: white;
}

.cta-btn {
    height: 60px;
}

.cta-btn:nth-child(1) {
    border: none;
    width: fit-content;
}
.cta-btn:nth-child(2) {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.hero-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Button Style */


/* Text Style */
.jumbotext {
    font-size: var(--fs-jumbo);
    font-weight: var(--fw-title);
    text-align: center;
    margin: 0;
}

.hero_text {
    font-size: var(--fs-hero);
    font-weight: var(--fw-hero);
    margin: 0;
}

.description {
    opacity: .5;
    margin: 0;
}

.hero-jumbo {
    width: 60vw;
}

.hero-description {
    width: 50%;
    text-align: center;
}

/* Icon Style */

.nav-icon {
    width: 28px;
    height: 28px;
    transition: var(--transition);
    color: var(--color-text-muted);    
}


